<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="com.springframework.test.bean.Person">
        <property name="name" value="derek"/>
        <property name="car" ref="car"/>
    </bean>

    <bean id="car" class="com.springframework.test.bean.Car">
        <property name="brand" value="porsche"/>
    </bean>

    <bean class="com.springframework.test.common.CustomBeanFactoryPostProcessor"/>

    <bean class="com.springframework.test.common.CustomerBeanPostProcessor"/>

    <bean id="helloService" class="com.springframework.test.service.HelloService"/>

</beans>